
* {
  background-color: #F2F7F2;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #8E5572;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1.5vw;
  color: #443850;
}

input {
  padding: 0.2em;
  font-size: 1.5vw;
}

select {
  font-size: 1.2vw;
}

#range {
  color: #8E5572;
}

a {
  text-decoration: none;
  color: #BCAA99;
}